---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu2404-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true

scenario:
  test_sequence:
    - dependency
    - create
    - converge
    - idempotence
    - verify
    - destroy

provisioner:
  name: ansible
  playbooks:
    converge: converge.yml
    verify: verify.yml
  inventory:
    host_vars:
      instance:
        ansible_user: root
        warp_enabled: true
        warp_install_method: "skip"
        warp_workflows_create_dirs: true
        warp_workflows:
          - workflow_name: "Test Workflow"
            workflow_command: "echo test"
            workflow_tags:
              - test
            workflow_description: "Test workflow for molecule testing"
            workflow_arguments: []
  env:
    ANSIBLE_ALLOW_BROKEN_CONDITIONALS: "True"
    ANSIBLE_ROLES_PATH: ../../../

verifier:
  name: ansible
