---
- name: Create config directories for users
  become: true
  become_user: "{{ ansible_user_id }}"
  ansible.builtin.file:
    path: "{{ cursor_config_dir }}"
    state: directory
    mode: "u=rwx,go=rx"
  tags: cursor, config, settings, keybindings

- name: Create settings directory
  become: true
  become_user: "{{ ansible_user_id }}"
  ansible.builtin.file:
    path: "{{ cursor_user_dir }}"
    state: directory
    mode: "u=rwx,go="
  tags: cursor, settings, keybindings

- name: Write settings
  become: true
  become_user: "{{ ansible_user_id }}"
  ansible.builtin.template:
    src: settings.json.j2
    dest: "{{ cursor_user_dir }}/settings.json"
    force: "{{ cursor_settings_overwrite | default(False) | bool }}"
    mode: "u=rw,go="
  tags: cursor, settings
  when: (cursor_settings_overwrite | default(False) | bool)

- name: Write keybindings
  become: true
  become_user: "{{ ansible_user_id }}"
  ansible.builtin.template:
    src: keybindings.json.j2
    dest: "{{ cursor_user_dir }}/keybindings.json"
    force: "{{ cursor_keybindings_overwrite | default(False) | bool }}"
    mode: "0644"
  tags: cursor, keybindings
  when: (cursor_keybindings_overwrite | default(False) | bool)

- name: Create rules directory
  ansible.builtin.file:
    path: "{{ cursor_rules_dir }}"
    state: directory
    mode: "0755"
  tags: cursor, rules

- name: Copy rules files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ cursor_rules_dir }}/{{ item | basename | regex_replace('^cursor-', '') }}"
    mode: "0640"
  with_fileglob:
    - "cursor-*.mdc"
  tags: cursor, rules
