---
- name: Ensure mas is installed
  community.general.homebrew:
    name: mas
    state: present
  tags: ['mas']

- name: Check if user is signed into Mac App Store
  command: mas account
  register: mas_account
  ignore_errors: true
  changed_when: false

- name: Check if user is signed into Mac App Store
  assert:
    that: mas_account.rc == 0
    fail_msg: "Please sign into the Mac App Store first!"
  ignore_errors: true

- name: Install Mac App Store Applications
  community.general.mas:
    id: "{{ item.id }}"
    state: present
  loop: "{{ appstore_apps }}"

- name: Upgrade all Mac App Store Applications
  community.general.mas:
    upgrade_all: true
