---
- name: Converge
  hosts: all
  become: true
  gather_facts: true
  vars:
    ansible_user: root
    git_enabled: true
    git_username: "Test User"
    git_email: "test@example.com"
  pre_tasks:
    - name: Ensure git is installed
      ansible.builtin.apt:
        name: git
        state: present
        update_cache: true
  tasks:
    - name: Include git role
      ansible.builtin.include_role:
        name: git
