---
# Tasks for installing and configuring Warp terminal

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family | lower }}.yml"
  when: warp_enabled | bool
  tags: warp

- name: Include OS-specific installation tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"
  when: warp_enabled | bool
  tags: warp

- name: Setup Warp workflows
  when:
    - warp_enabled | bool
    - warp_workflows_create_dirs | bool
  tags: warp
  block:
    - name: Create Warp directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0750"
        owner: "{{ ansible_user_id }}"
      loop_control:
        label: "{{ item }}"
      loop:
        - "{{ warp_parent_dir }}"
        - "{{ warp_workflows_dir }}"

    - name: Deploy Warp workflows
      ansible.builtin.template:
        src: workflow.yaml.j2
        dest: "{{ warp_workflows_dir }}/workflow{{ ansible_loop.index }}.yaml"
        mode: "0640"
        owner: "{{ ansible_user_id }}"
      diff: true
      loop: "{{ warp_workflows }}"
      loop_control:
        extended: true
        label: "{{ warp_workflows_dir }}/workflow{{ ansible_loop.index }}.yaml"
