---

- name: Create Warp directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0750'
    owner: "{{ warp_user }}"
  loop_control:
    label: "{{ item }}"
  loop:
    - "{{ warp_parent_dir }}"
    - "{{ warp_workflows_dir }}"
  when: warp_workflows_create_dirs | bool

- name: Deploy example Ansible workflow
  template:
    src: workflow.yaml.j2
    dest: "{{ warp_workflows_dir }}/workflow{{ ansible_loop.index }}.yaml"
    mode: '0640'
    owner: "{{ warp_user }}"
  diff: true
  loop: "{{ warp_workflows }}"
  loop_control:
    extended: true
    label: "{{ warp_workflows_dir }}/workflow{{ ansible_loop.index }}.yaml"
