---
- name: Create mise config directory
  ansible.builtin.file:
    path: "/etc/mise"
    state: directory
    mode: "0755"

- name: Configure mise
  ansible.builtin.template:
    src: config.toml.j2
    dest: "/etc/mise/config.toml"
    mode: "0644"

- name: Install mise plugins
  ansible.builtin.command: "mise plugin install -y {{ item }}"
  loop: "{{ mise_tools | dict2items | map(attribute='key') | list }}"
  when: mise_tools | length > 0
  changed_when: false
  check_mode: false
  register: plugin_install
  failed_when:
    - plugin_install.rc != 0
    - "'already installed' not in plugin_install.stderr"
    - "'is a core plugin' not in plugin_install.stderr"

- name: Install latest versions
  ansible.builtin.command: "mise install -y"
  when: mise_tools | length > 0
  changed_when: false
  check_mode: false

- name: Set global versions for mise plugins
  ansible.builtin.command: "mise use -g {{ item.key }}@{{ item.value }}"
  loop: "{{ mise_tools | dict2items }}"
  when: mise_tools | length > 0
  changed_when: false
  check_mode: false
