---
dependency:
  name: galaxy
  options:
    requirements-file: ${MOLECULE_SCENARIO_DIRECTORY}/requirements.yml

driver:
  name: podman

platforms:
  - name: ubuntu-zsh
    image: geerlingguy/docker-ubuntu2404-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true

scenario:
  test_sequence:
    - dependency
    - create
    - converge
    - idempotence
    - verify
    - destroy

provisioner:
  name: ansible
  playbooks:
    converge: converge.yml
    verify: verify.yml
  inventory:
    host_vars:
      ubuntu-zsh:
        ansible_user: root
        zsh_username: root
        zsh_powerlevel10k:
          theme:
            url: "https://github.com/romkatv/powerlevel10k.git"
            version: "master"
  env:
    ANSIBLE_ALLOW_BROKEN_CONDITIONALS: "True"
    ANSIBLE_ROLES_PATH: ../../../

verifier:
  name: ansible
