# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/git

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts.os_family }}.yml"
        - "main.yml"
      paths:
        - "vars"
  tags: git

- name: Install Debian specific installation tasks
  ansible.builtin.include_tasks: "install-Debian.yml"
  when: ansible_facts.distribution == "Debian"
  tags: git

- name: Install Ubuntu specific installation tasks
  ansible.builtin.include_tasks: "install-Ubuntu.yml"
  when: ansible_facts.distribution == "Ubuntu"
  tags: git

- name: Configure git
  ansible.builtin.include_tasks: "setup.yml"
  when: git_enabled | bool
  tags: git
