---
- name: Install gita using pipx
  community.general.pipx:
    name: gita
    state: "present"
    executable: "{{ pipx_executable | default(omit) }}"
  tags:
    - gita

- name: Create gita config directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/gita"
    state: directory
    mode: '0755'
  tags:
    - gita

- name: Configure gita default settings
  ansible.builtin.template:
    src: gita.yml.j2
    dest: "{{ ansible_env.HOME }}/.config/gita/repo.yml"
    mode: '0644'
  tags:
    - gita
