---
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts.os_family }}.yml"
        - "main.yml"
      paths:
        - "vars"
  tags: gita

- name: Install gita using OS-specific tasks
  ansible.builtin.include_tasks: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "install-{{ ansible_facts.os_family }}.yml"
        - "install.yml"
      paths:
        - "tasks"
  tags: gita

- name: Configure gita default settings
  ansible.builtin.include_tasks: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "setup-{{ ansible_facts.os_family }}.yml"
        - "setup.yml"
      paths:
        - "tasks"
  tags: gita
