---
- name: Get uv path from mise
  ansible.builtin.command:
    cmd: "mise which uv"
  register: uv_path
  changed_when: false
  tags:
    - gita

- name: Check if gita is installed
  ansible.builtin.shell:
    cmd: "{{ uv_path.stdout }} tool list | grep -E 'gita$'"
  register: is_gita_installed
  changed_when: false
  failed_when: false
  tags:
    - gita

- name: Install gita using uv
  ansible.builtin.command:
    cmd: "{{ uv_path.stdout }} tool install gita"
  when: is_gita_installed.rc != 0
  tags:
    - gita

- name: Create gita config directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/gita"
    state: directory
    mode: "0755"
  tags:
    - gita

- name: Configure gita default settings
  ansible.builtin.template:
    src: gita.yml.j2
    dest: "{{ ansible_env.HOME }}/.config/gita/repo.yml"
    mode: "0644"
  tags:
    - gita
