---

- name: Create gita config directory
  ansible.builtin.file:
    path: "{{ gita_config_dir }}"
    state: directory
    mode: "0755"
  tags:
    - gita

- name: Configure gita default settings
  ansible.builtin.template:
    src: gita.yml.j2
    dest: "{{ gita_config_dir }}/repo.yml"
    mode: "0644"
  tags:
    - gita
