---
- name: Converge - Docker Mode
  hosts: docker_mode
  become: true
  gather_facts: true
  vars:
    ansible_user: root
  tasks:

    - name: Show ansible version
      ansible.builtin.debug:
        msg: "{{ ansible_facts.version }}"

    - name: Include docker role (docker mode)
      ansible.builtin.include_role:
        name: docker

- name: Converge - Rancher Desktop Mode
  hosts: rancher_mode
  become: true
  gather_facts: true
  vars:
    ansible_user: root
    rancher_desktop:
      repo: "rancher-sandbox/rancher-desktop"
      version: "1"
  tasks:
    - name: Include docker role (rancher-desktop mode)
      ansible.builtin.include_role:
        name: docker
