---
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"
  tags: vim

- name: Copy vim settings
  ansible.builtin.copy:
    src: ".vimrc"
    dest: "{{ ansible_env.HOME }}/.vimrc"
    owner: "{{ ansible_user_id }}"
    group: "{{ vim_group }}"
    mode: "0700"
  tags: vim
