---

- name: Copy vim settings
  ansible.builtin.copy:
    src: ".vimrc"
    dest: "{{ ansible_env.HOME }}/.vimrc"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0700"
  tags: vim
