---

- name: Create GPG configuration directory
  ansible.builtin.file:
    path: "{{ gpg_config_dir }}"
    state: directory
    mode: "0700"
  when: gpg_enabled | bool
  tags: gpg

- name: Configure GPG agent cache timeout
  ansible.builtin.template:
    src: gpg-agent.conf.j2
    dest: "{{ gpg_config_dir }}/gpg-agent.conf"
    mode: "0600"
  when: gpg_enabled | bool
  notify: Reload GPG agent
  tags: gpg
